@import '~antd/dist/reset.css';
@import '../normalize';
@import '../components/Authorization/login.scss';
@import '../components/Authorization/registration.scss';
@import './favorietsPage.scss';
@import './modal.scss';

#head {
  background-color: white;
  & li:nth-child(3) {
    //margin-left: 1000px;
  }
}

.layout {
  &__header {
    // display: flex;
  }
  &__content {
    //padding: 20px 50px 0px 50px;
  }
}
.header {
  &__icon {
    width: 65px;
    height: 65px;
  }
  &__menu {
    & li span {
      color: #3d71bd;
    }
  }
  &__container {
    display: flex;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 220px auto 40px auto;
  &__title {
    font-size: 36px;
    line-height: 52px;
  }
  &__input {
    width: 800px;
    & button {
      width: 120px;
      & span {
        color: white;
      }
    }
  }
  &__signature {
    font-size: 16px;
    line-height: 24px;
    & span {
      font-weight: 500;
      display: inline-block;
      margin-right: 15px;
    }
  }

  &__videos {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
  }
  &__img {
    width: 245px;
    height: 138px;
  }
}

.icon-heart {
  font-size: 18px;
  color: #1890ff;
}

.tooltip {
  font-size: 14px;
  line-height: 24px;
}

.card-video {
  width: 245px;
}
