$black: rgb(0, 0, 0);
$white: #fff;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  // color: black;
  color: inherit;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--var-body-fc);
  // overflow-y: hidden;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
}
#root {
  height: 100%;
  width: 100%;
}

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

._container {
  max-width: 1060px;
  // max-width: 73.6%;
  margin: 0 auto;
  padding: 0 10px;
}
